* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

.container {
  max-width: 1000px;
  background-color: white;
  width: 100%;
  margin: auto;
}

.movie {
  border-radius: 2%;
  box-shadow: 0 0 1em black;
  padding: 1%;
  margin: 1%;
  height: 260px;
}

.detail {
  box-shadow: 0 0 1em black;
  padding: 1%;
}

.navigation {
  float: right;
  width: 15%;
  border-radius: 2%;
  box-shadow: 0 0 1em black;
  padding: 1%;
}

img {
  max-width: 100%;
}

.extra_button {
  display: none;
}

/*
 Width: 1000px
 # Columns : 12 
 Column width: 6.5%
 Gutter : 2% 

 */
.grid_1 { width: 6.5%; }
.grid_2 { width: 15%; }
.grid_3 { width: 27.5%; }
.grid_4 { width: 32%; }
.grid_5 { width: 40.5%; }
.grid_6 { width: 49%; }
.grid_7 { width: 57.5%; }
.grid_8 { width: 66%; }
.grid_9 { width: 74.5%; }
.grid_10 { width: 83%; }
.grid_11 { width: 91.5%; }
.grid_12 { width: 100%; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin: 0 2% 1% 0;
  float: left;
  display: block;
}

.alpha{margin-left:0px;}
.omega{margin-right:0px;}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

/* Media Queries */

@media screen and (max-width: 480px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width: 100%;
  }

  .detail img {
    display: none;
  }

  .navigation {
    float: left;
    width: 100%;
    box-shadow: 0 0 1em black;
    margin-bottom: 2%;
  }

  .movie {
    height: auto;
  }

  .extra_button {
    display: block;
  }
}

@media screen and (min-width: 481px) and (max-width: 750px) {

  .navigation {
    float: left;
    width: 100%;
  }

}